body {
  font-family: 'Montserrat', sans-serif; }

#nav-logo {
  height: 100px;
  position: absolute;
  top: 3px; }

.navbar-brand {
  min-height: 80px;
  min-width: 300px; }

.navbar-default {
  background-color: #ff9600;
  border-color: rgba(255, 250, 100, 0.5); }

.navbar-default .navbar-nav > li > a {
  font-size: 20px;
  line-height: 20px;
  color: #fff5d5; }

.navbar-nav > li > a {
  padding-top: 53px;
  padding-bottom: 0; }

.content {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px; }

img.header {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; }

.hero p {
  font-weight: bold; }

.hero img {
  width: 100%; }

.circle-up {
  border-radius: 50%; }

.light-orange {
  background-color: rgba(255, 150, 0, 0.5); }

.med-orange {
  background-color: rgba(255, 150, 0, 0.75); }

.extralight-orange {
  background-color: rgba(255, 150, 0, 0.1); }

.inverse {
  background-color: #333;
  color: #fff5d5; }

h1 {
  font-size: 60px; }

div.colorbit {
  line-height: 2000px; }

span.colorbit {
  display: inline-block;
  width: 0.1%;
  height: 100%;
  -webkit-filter: blur(1px); }

div.colorsplotch {
  position: absolute;
  border-radius: 20%;
  -webkit-filter: blur(3px); }

#color-wall {
  background-image: url("../images/colorwall-bg.png");
  background-size: 150%;
  background-repeat: no-repeat; }

#color-wall p {
  text-shadow: white 0 0 15px; }

.colorwall {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px; }

.colorwall img {
  margin-bottom: 30px; }

[id*="-target"] {
  position: relative;
  top: -80px; }

.btn {
  border-radius: 0; }

#team h1, .image {
  padding-bottom: 30px; }

#team p {
  font-size: 20px; }

.color-bg {
  margin: 0 -20px; }
